* {
    margin: 0px;
    box-sizing: border-box;

}

.ocicon {

    border-radius: 1em;
    background-color: rgba(255, 254, 254, 0.4); 
    min-width: 200px;
    max-width: 20%;
    padding: 20px;
}
.ocicon:hover  {
 
    border-radius: 1em;
    transform: scale(1.05); /* Increase the size by 5% */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Adds a shadow */
}

.searchicon,
.acconticon,
.abouticon,
.contacticon,
.adminicon,
.editicon,
.contacticon{
    width: 15%;
    min-width: 120px;
}
.small-image{
    max-width: 80%;
    min-width: 100px;
}

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 26px;
}

body {
    background-color: rgb(255, 255, 255);
    font-family: sans-serif;
    font-size: 18px;
    line-height: 1.3em;
    font-weight: bolder;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-width: 100vh;

}

.header {
    background: url(/my-website/images/mountainsbanner.png);
    background-size: cover;
    padding: 2em 2em 2em 2em;
    /* creates some edge space. top right bottom left */
    text-align: center;
}

/* creates some edge space. top right bottom left */

.main {
    display: flex;
    flex: 1;
}


.left,
.right {
    background-color: rgb(122, 17, 17);
    border-radius: .3em;
    padding: 1em 2em 1em 2em;
    max-width: 100vh;
    /*Allows us to change the width when the screen is minimized for phones*/
}

main {
    background-color: rgb(255, 255, 255);
    padding: 1em 3em 1em 3em;
    width: calc(100% - 9em); /* Calculate the width to leave 2em of padding on each side */
   
    display: grid;
    text-align: center;
}

main>p {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

footer {
    background-color: rgb(255, 255, 255);
    padding: 2em 2em 2em 2em;
    text-align: center;
}



.right {
    display: grid;
    text-align: center;
}


.loginmain {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
}

.leftSelfImages {
    padding: 1em;
    float: left;
}

.rightSelfImages {
    padding: 1em;
    float: right;

}

/* need to add to make it responsive for mobile*/
@media all and (max-width:650px) {

    .main {

        flex-direction: column;

    }


}

