*{
    margin: 5px;
    box-sizing: border-box; /* will remove later this is for styling */
}

body{
    background: rgb(255, 255, 255);
    font-family: sans-serif;
    text-align: center;
    color: black;
    font-size: 24px;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensure body takes at least the height of the display yayyyy */
}

header{
    background-color: beige;
    padding: 2em 0;
}

.left{ /*created class rule*/
    background-color: rgb(247, 247, 145);
    padding: 2em 2em;
    flex: 1 1 100px;
}

.right{ /*created class rule*/
    background-color: rgb(38, 20, 71);
    padding: 2em 2em;
    flex: 1 1 100px;
}

main{
    background-color: rgb(214, 0, 0);
    padding: 3em 3em; /* Added padding to main for consistency */
    flex: 2 1 auto; /* Adjust main to fill available space */
}

footer{
    background-color: rgb(206, 185, 185);
    padding: 2em 2em;
    margin-top: auto; /* Push the footer to the bottom */
}

.main{ /*created class rule*/
    display: flex;
    flex: 1; /* Ensures that main content flex container takes up any remaining space */
}

@media all and (max-width: 550px){
    .main{
        flex-direction: column;
    }
    main{
        padding: 5em 0; /* Increase padding in mobile view */
    }
}